@model Producto
@{
    Layout = "_Layout";
}

<div class="col-12">
    <div class="card">

        <form class="form-horizontal" asp-controller="Producto" asp-action="RegistrarProducto" enctype="multipart/form-data">

            <div class="card-body">
                <h4 class="card-title">Registro de Productos</h4>
            </div>
            <hr><br />


            <div class="row justify-content-center">
                <div class="col-md-8">

                    <input id="Mensaje" type="hidden" value="@ViewBag.Mensaje">

                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" asp-for="Nombre" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Descripción</label>
                        <textarea asp-for="Descripcion" class="form-control" rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Precio</label>
                                <input type="text" asp-for="Precio" class="form-control">
                            </div>

                            <div class="col-md-6">
                                <label>Inventario</label>
                                <input type="text" asp-for="Inventario" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Imagen</label>
                        <input type="file" id="ImagenProducto" name="ImagenProducto" accept="image/png" class="form-control">
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-right pb-2 pr-2">
                            <button type="submit" class="btn btn-info">Procesar</button>
                        </div>
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>

<script src="~/lib/jquery.min.js"></script>
<script src="~/js/comunes.js"></script>